{% extends "main.html" %}

{% load static %}

{% block title %}
    Room - StuddyBuddy
{% endblock title %}

{% block content %}
    <main class="profile-page layout layout--2">
        <div class="container">

            <div class="participants">
                <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>

                <div class="participants__list scroll">

                    {% for user in participants %}
                        <a href="{% url 'user-profile' user.id %}" class="participant">
                        <div class="avatar avatar--medium">
                            <img src="{{ user.avatar.url }}" alt="user_image" />
                        </div>
                        <p>
                            {{user.username}}
                            <span>@{{user.username}}</span>
                        </p>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="room">

                <div class="room__top">
                    <div class="room__topLeft">
                        <a href="{% url 'home' %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                            ></path>
                            </svg>
                        </a>
                        <h3>Study Room</h3>
                    </div>

                    {% if request.user == room.host %}
                    <div class="room__topRight">
                        <div class="room-actions">
                            <a href="{% url 'update-room' room.id %}" class="edit-room-btn" title="Edit Room">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a href="{% url 'delete-room' room.id %}" class="delete-room-btn" title="Delete Room">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>


                <div class="room__box scroll">

                    <div class="room__header scroll">

                        <div class="room__info">
                            <h3>{{room.name}}</h3>
                            <span>{{room.created|timesince}} ago</span>
                        </div>

                        <div class="room__hosted">
                            <p>Hosted By</p>

                            {% if room.host and room.host.id %}
                                <a href="{% url 'user-profile' room.host.id %}" class="room__author">

                                    <div class="avatar avatar--small">
                                        <img src="{{ room.host.avatar.url }}" alt="{{ room.host.username }}">
                                    </div>

                                    <span>@{{room.host.username}}</span>
                                </a>
                            {% else %}
                                <span>@Unknown</span>
                            {% endif %}
                        </div>
                    
                        <span class="room__topics">{{room.topic}}</span>
                    </div>

                    <div class="room__conversation">
                        <div class="threads scroll">

                            {% if request.user.is_authenticated %}
                                
                                {% for message in room_messages %}
                                    <div class="thread">
                                        <div class="thread__top">

                                            <div class="thread__author">
                                                <a href="{% url 'user-profile' message.user.id %}" class="thread__authorInfo">
                                                    <div class="avatar avatar--small">
                                                        <img src="{{ message.user.avatar.url }}" alt="{{ message.user.username }}">
                                                    </div>
                                                    <span>@{{message.user.username}}</span>
                                                </a>
                                                <span class="thread__date">{{message.created|timesince}} ago</span>
                                            </div>

                                            {% if request.user == message.user %}
                                                <div class="thread__delete">
                                                    <form method="POST" action="{% url 'delete-message' message.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" style="border: none; background: transparent; color: darkred; cursor: pointer;">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="thread__details">
                                            <p class="message__text">
                                                {{ message.body|urlize|linebreaksbr }}
                                            </p>


                                            {% for f in message.files.all %}
                                                <div style="margin-top: 10px;">
                                                    <strong>Attachment:</strong><br>

                                                    {% with f.file.url|lower as url %}
                                                        {% if ".jpg" in url or ".jpeg" in url or ".png" in url or ".gif" in url %}
                                                            <p>
                                                                <i class="bi bi-image"></i>
                                                                <a href="{{ f.file.url }}" target="_blank" rel="noopener noreferrer">
                                                                    <img src="{{ f.file.url }}" alt="Image" style="max-width: 300px; border: 1px solid #ccc; border-radius: 5px; margin-top: 5px; cursor: pointer;">
                                                                </a>
                                                            </p>

                                                        {% elif ".pdf" in url %}
                                                            <p>
                                                                <i class="bi bi-file-earmark-text"></i>
                                                                <a href="{{ f.file.url }}" target="_blank" rel="noopener noreferrer">
                                                                    View PDF ({{ f.file.name|slice:"20" }}{% if f.file.name|length > 20 %}...{% endif %})
                                                                </a>
                                                            </p>

                                                        {% elif ".mp4" in url %}
                                                            <div style="max-width: 320px; margin-top: 5px;">
                                                                <video controls style="width: 100%; height: auto; border: 1px solid #555; border-radius: 6px;">
                                                                    <source src="{{ f.file.url }}" type="video/mp4">
                                                                    Your browser does not support the video tag.
                                                                </video>
                                                                <small style="display: block; font-size: 11px; color: #777; margin-top: 2px;">
                                                                    <i class="bi bi-download"></i> 
                                                                    Long-press on Mobile to Download
                                                                </small>
                                                            </div>

                                                        {% else %}
                                                            <p>
                                                                <i class="bi bi-download"></i> 
                                                                <a href="{{ f.file.url }}" download>
                                                                    {{ f.file.name|slice:"20" }}{% if f.file.name|length > 20 %}...{% endif %} — ({{ f.get_size }})
                                                                </a>
                                                            </p>
                                                        {% endif %}
                                                    {% endwith %}

                                                    {% if request.user == message.user %}
                                                        <form method="POST" action="{% url 'delete-file' f.id %}" style="display: inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" style="border: none; background: transparent; color: red; cursor: pointer;">
                                                                <i class="bi bi-trash"></i> Delete File
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}


                                        </div>
                                    </div>
                                {% endfor %}

                            {% else %} 
                            <div>
                                <a href="{% url 'login' %}" class="error-link">
                                    <i class="bi bi-lock-fill"></i> Login to view messages
                                </a>
                            </div>
                            {% endif %}
                        
                        </div>
                    </div>

                </div>


                <div class="room__message">
                    {% if request.user.is_authenticated %}

                        <form method="post" enctype="multipart/form-data" class="chat-form">
                            {% csrf_token %}

                            <div class="chat-input-wrapper">
                                <textarea name="body" id="chat-textarea" placeholder="Type your message..." rows="1" class="chat-input"></textarea>

                                <input type="file" name="files" id="file-upload" accept=".jpg,.jpeg,.png,.gif,.pdf,.mp4,.mp3,.wav" class="file-input" multiple />

                                
                                <label for="file-upload" class="file-label">
                                    <i class="bi bi-paperclip"></i>
                                </label>

                                <span id="file-count" style="color: #ccc; margin-left: 8px;"></span>

                                <button type="submit" class="send-button">
                                    <i class="bi bi-send-fill"></i>
                                </button>
                            </div>
                        </form>
                    
                    {% else %}
                        <div>
                            <a href="{% url 'login' %}" class="error-link">
                                <i class="bi bi-lock-fill"></i> Login to send messages
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>            
        </div>
    </main>
{% endblock content %}
